<legend>Edit</legend>
	<label>username:{{view Ember.TextField valueBinding="username"}} </label>
	<label>password: {{view Ember.TextField valueBinding="password"}} </label>
	<label>apartment:
	{{#if apartment.address}}
		{{apartment.address}}
	{{else}}
		no apartment </label>
	{{/if}}
	<button {{bindAttr disabled="noApartment"}} {{action addApartment}}>Add Apartment</button>
	<button {{bindAttr disabled="isApartment"}} {{action removeApartment}}>Remove Apartment</button>
	<button {{action save}}>Save</button>
	<button {{action back}}>Back</button>
<!-- 	<button {{bindAttr disabled="test"}}>Back</button>
	{{#view Yeomanwebapp.AddApartment}}Add Apartment{{/view}}
	{{#view Yeomanwebapp.RemoveApartment}}Remove Apartment{{/view}} -->


