<form class="form-horizontal">
	<legend>Edit</legend>
	<fieldset>
		<div class="control-group">
			<label class="control-label">username</label>
			<div class="controls">
				{{view Ember.TextField valueBinding="username"}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">password</label>
			<div class="controls">
				{{view Ember.TextField valueBinding="password"}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">apartment</label>
			<div class="controls">
				{{#if apartment.address}}
					{{view Ember.TextField valueBinding="apartment.address" disabled="true"}}
				{{else}}
					{{view Ember.TextField value="No Apartment" disabled="true"}}
				{{/if}}
				<div class="control-group">
					<br>
					<button class="btn btn-success" {{bindAttr disabled="noApartment"}} {{action addApartment}}>Add Apartmen</button>
					<button class="btn btn-danger" {{bindAttr disabled="isApartment"}} {{action removeApartment}}>Remove Apartment</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<button class="btn btn-primary" {{action save}}>Save</button>
			<button class="btn" {{action back}}>Back</button>
		</div>
	</fieldset>
</form>	



