<legend>My Invites</legend>
<!-- check if there are invites. if there are, check there status , where 
 0 - declined, 1- accepted, 2 - not sent answer -  -->
{{!-- {{#if myInvitesLength}} --}}
{{getMyInvites}}
{{#if isInvites}}
	<table class="table table-hover">
		<tr>
			<th>Invite From</th>
			<th>Apartment</th>
			<th>action</th>
		</tr>
	{{#each myInvites}}
		{{!-- {{#ifCond status 2}} --}}
			<tr>
				<td>{{fromRoomie.username}} </td>
				<td>{{apartment.address}}</td>
				<td>
					<button class="btn btn-success" {{action confirm this}}>Confirm</button>
					<button class="btn btn-danger" {{action reject this}}>Reject</button>					
				</td>
			</tr>
		{{!-- {{/ifCond}} 					 --}}
	{{/each}}
{{else}}
	<h4> There are no pending Invites </h4>
{{/if}}

{{! After the template is rendered, set 'new' attribute in invite to false}}
{{#if isNewInvites}}
	{{setNewToFalse}}
{{/if}}
