{{!set default year and month for current date}}
{{setDefaults}}
<img src="/images/ajax-loader.gif" id="loading-indicator" {{bindAttr class="isLoading::hide"}}/>
<form class="form-inline">
	<label>Month :</label> {{view Ember.Select
				contentBinding="datePicker.monthPicker"
				optionLabelPath="content.desc"
				optionValuePath="content.id"
				valueBinding = "monthSelected"}}

	&nbsp;&nbsp;&nbsp;<label>Year :</label> {{view Ember.Select 
				contentBinding="datePicker.yearPicker"
				valueBinding = "yearSelected"}}

	<button class="btn btn-primary" {{action editBill}} {{bindAttr disabled="isEditBill"}}>Edit Bill</button>
	<button class="btn btn-danger" {{action clearBill}} {{bindAttr disabled="isClearBillDisabled"}}>Clear</button>

</form>

<form id="billItemsForm" {{action "saveBillItems" on="submit"}}>

	{{#if isEditBill}}
		<legend>Bill Items</legend>
		<table id="addBillItemTable" class="table">
			<tr>	
				<th>Type</th>
				<th>Amount</th>
				<th>Assigned Roomies</th>
			</tr>
			{{#each billItems}}
				<tr>
					<td>{{!-- {{view Yeomanwebapp.BillTypeSelect
							contentBinding="billTypeString"
							valueBinding="billTypeString"
							}} --}}
						{{view Ember.TextField valueBinding="billTypeString"}}

						{{view Yeomanwebapp.OtherView valueBinding="other" placeholder="other" name="cother"}}
			

					<td>
						{{view Ember.TextField valueBinding="amount" placeholder="amount" name="camountPaid"}}</td>

{{!-- 					<td>{{view Ember.Select
							contentBinding="apartmentRoomies"
							optionLabelPath="content.name"
							optionValuePath="content.id"
							multiple="true"
							classNames="multiple"
							selectionBinding="roomiesAssigned"
							name="capartmentRoomies"
						}}</td> --}}
					<td>{{view SelectTestView
							contentBinding="roomiesAssigned"
							optionLabelPath="content.name"
							optionValuePath="content.id"
							multiple="true"
							classNames="multiple"
							name="capartmentRoomies"
					}}</td>
					<td>
						 
						<!-- Modal -->
						{{#view Yeomanwebapp.Pay}}Pay{{/view}}


						<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
						   		{{#view Yeomanwebapp.DismissModal}}x{{/view}}
						    	<h3 id="myModalLabel">Payments : {{amount}} To Pay</h3>
						  	</div>
						  	<div class="modal-body">
						  		{{#each roomiesAssigned}}
						  			<div class="control-group">
										<span class="label label-important pay-modal-label">{{name}}</span> 
							  	   		{{view Ember.TextField valueBinding="amountPaid" placeholder="Amount Paid"
							  			}}
							  		</div>
							  		<br>
						  		{{/each}}		 		  
						  	</div>
						  	<div class="modal-footer">
								{{#view Yeomanwebapp.PaymentModalValidate}}Done{{/view}}
						  	</div>
						</div>


						<!-- modal -->

						<button class="btn btn-danger" {{action removeItem this}}>X</button>
					</td>
				</tr>
			{{/each}}

		</table>

		<button class="btn btn-success"  {{action addItem}} {{bindAttr disabled="isLoading"}}>Add Item</button>
		<button class="btn btn-primary" type="submit" {{bindAttr disabled="isLoading"}}
		{{bindAttr disabled="isSaveDisabled"}}>Save</button>
	{{/if}}
</form>
